<div class="main-wrapper">
    <div class="container px-3 px-lg-5">
        <!-- DOWNLOAD PDF -->
        <article class="resume-wrapper mx-auto p-4 text-center">
            <button class="btn btn-primary"(click)="downloadPDF()">Download as PDF</button>
        </article> 
        <!-- MAIN CONTENT -->
        <article id="pdfTable" #pdfTable class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
            <!-- MAIN HEADER -->
            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">{{helper.FULL_NAME}}</h2>
                        <div class="resume-tagline mb-3 mb-md-0">{{helper.CURRENT_TITLE}}</div>
                    </div>
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="tel:{{helper.MOBILE_NO}}">{{helper.MOBILE_NO}}</a></li>
                            <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link" href="mailto:{{helper.EMAIL}}">{{helper.EMAIL}}</a></li>
                            <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="{{helper.WEBSITE}}" target="_blank">{{helper.WEBSITE}}</a></li>
                            <li class="mb-2"><i class="fab fa-github-square fa-fw fa-lg me-2"></i><a class="resume-link" href="{{helper.GITHUB_URL}}" target="_blank">{{helper.GITHUB_URL}}</a></li>
                            <li class="mb-2"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>{{helper.LOCATION}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <!-- MAIN PROFILE -->
            <div class="resume-intro py-3">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3 col-xl-2 text-center">
                        <img style="max-width: 220px !important;" class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto" src="../assets/images/profile.png" alt="image">
                    </div>
                    <div class="col text-start">
                        <p class="mb-0" style="text-align: justify; margin-left: 20px; font-size: 18px !important;">{{helper.PROFILE_SUMMARY}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <!-- MAIN BODY -->
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
                        <!-- PROFESSIONAL EXPERIENCES -->
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">{{helper.WORK_TITLE}}</h3>
                            <div *ngFor="let itm of work">
                                <div class="item mb-3">
                                    <div class="item-heading row aligg-items-center mb-2"><img src="{{itm.workCompanyLogo}}" style="max-width: 100px;"/></div>
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0"><span style="color: #20915c !important;">{{itm.workCompany}}</span> | {{itm.workPostition}}</h4>
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0 text-muted">{{itm.workTeam}}</h4>
                                        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{{itm.workType}} | {{itm.workDuration}}</div>

                                    </div>
                                    <div class="item-content">
                                        <p style="text-align: justify;">{{itm.workDescription}}</p>
                                        <ul *ngFor="let itmbullet of itm.workBullet" class="resume-list">
                                            <li>{{itmbullet.bullet}}</li>
                                        </ul>
                                        <div class="table-responsive">
                                            <table class="table table-bordered" style="border: 1px solid #54b689;">
                                                <tbody class="thead-dark">
                                                    <tr>
                                                        <td class="thead-dark" style="background-color: #54b689; color: white; font-weight: 800;">Methodologies</td>
                                                        <td>{{itm.workMethodologies}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="thead-dark" style="background-color: #54b689; color: white; font-weight: 800;">Responsibilities</td>
                                                        <td>{{itm.workResponsibilities}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="thead-dark" style="background-color: #54b689; color: white; font-weight: 800;">Technologies/Knowledge</td>
                                                        <td>{{itm.workTechnology}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </section>

                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">{{helper.ACHIEVEMENTS_TITLE}}</h3>
                            <div *ngFor="let itm of achievements" class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{itm.achievementTitle}} | <a href="{{itm.achievementLink}}" target="_blank">LINK</a></h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{{itm.achievementRole}}</div>
                                </div>
                                <div class="item-content">
                                    <p>{{itm.achievementDescription}}</p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">{{helper.SKILLS_TITLE}}</h3>
                            <div *ngFor="let skill of skills" class="item">
                                <h4 class="item-title">{{skill.title}}</h4>
                                <ul class="list-unstyled resume-skills-list">
                                   <div *ngFor="let itm of skill.items">
                                        <li class="mb-2">{{itm.item}}</li>
                                   </div>
                                </ul>
                            </div>
                        </section>
                                <section class="education-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">{{helper.EDUCATION_TITLE}}</h3>
                                    <ul *ngFor="let edu of education" class="list-unstyled resume-education-list">
                                        <li class="mb-3">
                                            <div class="resume-degree font-weight-bold"><b>{{edu.edu_qualification}}</b></div>
                                            <div class="resume-degree-org text-muted">{{edu.edu_university}}</div>
                                            <div class="resume-degree-time text-muted">{{edu.edu_year}} | Results: {{edu.edu_results}}</div>
                                        </li>
                                    </ul>
                                </section>
                                <section class="skills-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">{{helper.LANGUAGE_TITLE}}</h3>
                                    <ul *ngFor="let lang of language" class="list-unstyled resume-lang-list">
                                        <li class="mb-2">{{lang.languages}}</li>
                                    </ul>
                                </section>
                                <section class="skills-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">{{helper.INTEREST_TITLE}}</h3>
                                    <ul *ngFor="let itm of interest" class="list-unstyled resume-interests-list mb-0">
                                        <li class="mb-2">{{itm.interest}}</li>
                                    </ul>
                                </section>
                                <section class="skills-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">{{helper.REFERREE_TITLE}}</h3>
                                    <ul *ngFor="let itm of referree" class="list-unstyled resume-interests-list mb-0">
                                        <li class="mb-2"><b>Name:</b> {{itm.ref_name}}</li>
                                        <li class="mb-2"><b>Title:</b> {{itm.ref_title}}</li>
                                        <li class="mb-2"><b>Company:</b> {{itm.ref_company}}</li>
                                        <li class="mb-2"><b>Email:</b> <a href="mailto:{{itm.ref_email}}">{{itm.ref_email}}</a></li>
                                        <li class="mb-2"><b>Mobile:</b> <a href="tel:{{itm.ref_mobile}}">{{itm.ref_mobile}}</a></li>
                                        <hr/>
                                    </ul>
                                </section>
                                
                            </aside>
                </div>
            </div>
            <hr>
            <!-- FOOTER -->
            <div class="resume-footer text-center">
                <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                    <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="{{helper.GITHUB_URL}}" target="_blank"><i class="fab fa-github-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">github.com/paanjoe</span></a></li>
                    <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="{{helper.LINKEDIN_URL}}" target="_blank"><i class="fab fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/mohd-farhan-muhamad-fazli-693b7912b/</span></a></li>
                    <li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="{{helper.WEBSITE}}" target="_blank"><i class="fa fa-globe fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">https://paanjoe.com</span></a></li>
                </ul>
            </div>
        </article>     
    </div>     
</div>
